lenderEmail: api@reggora.com
lenderPassword: mysecurepassword1!
lenderIntegrationToken: long-u-u-id

vendorEmail: api@reggora.com
vendorPassword: mysecurepassword1!
vendorIntegrationToken: long-u-u-id